.header {
    display:flex;
    justify-content:space-between;
    padding:45px ; 
    flex-wrap:wrap;
    align-items:center;
}

.logo {
    display:flex;
    align-items:center;
}
/* .logo img {
    height:45px;
    margin-right:5.59px;
} */
.logo h1 {
    /* display:flex;
    align-items:center; */
    font-weight:800;
    font-size:2rem;
    
}

.menu {
    display:flex;
}
.menu li {
    padding:3rem;
    font-size:1.5rem;
    font-weight:400;
}

.menu li a:hover {
    background-color:#5BC241;
    color:#FFF;
    padding:11px 6px;
    transition: 0.2s ease-in-out;
}
.menu .btn {
    background-color:#5BC241;
    color:#FFF;
    font-size:15px;
    font-weight:300;
    padding:10px 21px 11px 21px;
    border-radius:1rem;
    /* line-height:18px; */
}

@media(max-width:937px) {
    .header {
        flex-direction:column;
    }
    
    .logo {
        display:flex;
        width:100%;
        margin-top:47px;
        justify-content:center;

    }
    .logo h1 {
        /* justify-content: center; */
        font-size:4rem;
        text-align:center;
        margin-top:47px;
        margin-right:140px;
    }
    .logo img {
        margin-top:47px;
        justify-content: center;
        text-align:center;
        margin-left: 76px;
        
    }

    nav {
        width:100%;
        text-align: center;
    }
    
    .menu {
       flex-direction:column;
       margin-top:5rem;
    }
    .menu li {
        padding:33px 0;
        /* margin-left:0; */
        font-size:40px;
        
    }
    .menu li a:hover {
            padding:17px 38px 17px 41px; 
    }

    .menu .btn {
        font-size:18px;
        padding:15px 23px;
    }
   
}





