html {
    font-size:62.5%;
}

body {
    font-family: 'Public Sans', sans-serif;
}

.header {
    display:flex;
    justify-content:space-between;
    padding:45px ; 
    flex-wrap:wrap;
    align-items:center;
}

.logo {
    display:flex;
    align-items:center;
}

.logo h1 {
    font-weight:800;
    font-size:2rem;
}

.menu {
    display:flex;
    align-items: center;
}
.menu li {
    padding:3rem;
    font-size:1.5rem;
    font-weight:400;
}
.menu li a:hover {
    background-color:#5BC241;
    color:#FFF;
    padding:11px 6px;
    transition: 0.2s ease-in-out;
}
.menu .btn {
    background-color:#5BC241;
    color:#FFF;
    font-size:15px;
    font-weight:300;
    padding:10px 21px 11px 21px;
    border-radius:1rem;
}