:root {
    --max-width-size:1920px;
}
* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

html {
    font-size:62.5%;
    font-family:'Public Sans', sans-serif;
}

li {
    list-style: none;
}